@use "../../../sass/base/function" as *;
@use "../../../sass/base/mixin" as *;

@include fontFace(
  "Roboto",
  "../../assets/fonts/Roboto/Roboto-Regular.ttf",
  "ttf"
);

@include fontFace(
  "Tajawal",
  "../../assets/fonts/Tajawal/Tajawal-Regular.ttf",
  "ttf"
);

aside {
  font-family: "Tajawal", sans-serif;
  p {
    font-size: pxToRem(14);
    font-weight: 500;
    line-height: 17px;
  }
  .aside-container {
    // Top Elements
    .first-elements {
      margin-bottom: 150px;
      div.active {
        p {
          color: #d02049;
        }
        img {
          filter: invert(21%) sepia(65%) saturate(5159%) hue-rotate(336deg)
            brightness(85%) contrast(90%);
        }
      }
      div:last-of-type {
        margin-bottom: 0px;
      }
    }
    // Bottom Elements
    .second-elements {
      div.active {
        p {
          color: #d02049;
        }
        img {
          filter: invert(21%) sepia(65%) saturate(5159%) hue-rotate(336deg)
            brightness(85%) contrast(90%);
        }
      }
      div:last-of-type {
        margin-bottom: 0px;
      }
      .number {
        top: -4px;
        right: -6px;
        p {
          font-size: pxToRem(11);
          font-weight: 500;
          font-family: "Roboto";
        }
      }
    }
  }
}

/*-------- Start Media Query --------*/

// XSmall Media Query

@media all and (max-width: 639px) {
  aside {
    .aside-container {
      .first-elements {
        div {
          width: 100%;
        }
      }
    }
  }
}

/*-------- End Media Query --------*/
